body {
    background: purple;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#container {
    background: white;
    color: black;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
}

#container fieldset {
    width:80%;
    height:50%;
}

